@font-face
  font-family avenir-light
  src url('fonts/avenir-light.ttf')
  font-weight 300

@font-face
  font-family avenir-light-oblique
  src url('fonts/avenir-light-oblique.ttf')
  font-weight 300

@font-face
  font-family avenir-medium
  src url('fonts/avenir-medium.ttf')
  font-weight 300

@font-face
  font-family avenir-medium-oblique
  src url('fonts/avenir-medium-oblique.ttf')
  font-weight 300

@font-face
  font-family avenir-book
  src url('fonts/avenir-book.ttf')
  font-weight 300

@font-face
  font-family avenir-book-oblique
  src url('fonts/avenir-book-oblique.ttf')
  font-weight 300

@font-face
  font-family avenir-heavy
  src url('fonts/avenir-heavy.ttf')
  font-weight 300

@font-face
  font-family avenir-heavy-oblique
  src url('fonts/avenir-heavy-oblique.ttf')
  font-weight 300

@font-face
  font-family avenir-black
  src url('fonts/avenir-black.ttf')
  font-weight 300

@font-face
  font-family avenir-black-oblique
  src url('fonts/avenir-black-oblique.ttf')
  font-weight 300

@font-face
  font-family didot
  src url('fonts/didot.ttf')
  font-weight 300
